In [1]:
l1=[11,22,33,44,"mark","student"]
for i in l1:
    print(i)

11
22
33
44
mark
student

In [3]:
s1="datascientist"
for i in s1:
    print(i,end=" ")

d a t a s c i e n t i s t

In [5]:
t1=(1,2,3,4,"python","class",34.6,6.6)
print(type(t1))
print(t1)
print(t1[::-1])
for i in t1:
    print(i)

<class 'tuple'>
(1, 2, 3, 4, 'python', 'class', 34.6, 6.6)
(6.6, 34.6, 'class', 'python', 4, 3, 2, 1)
1
2
3
4
python
class
34.6
6.6

In [9]:
n1=int(input("Enter the value of n1: "))
print("Table of",n1)
for i in range(1,11):
     table=i*n1
     print(table,end=" ")

Enter the value of n1:  6

Table of 6
6 12 18 24 30 36 42 48 54 60

In [16]:
sets={11,22,33,44,55,"light","color",5.7}
for i in sets:
    print(i)

33
5.7
11
44
color
22
55
light

In [26]:
d1={"balaji":21,"ganesh":22,"avinash":23,"harsh":52}
print(type(d1))
print(d1,end=" ")
print()
for i in d1:
    print(i)

<class 'dict'>
{'balaji': 21, 'ganesh': 22, 'avinash': 23, 'harsh': 52}
balaji
ganesh
avinash
harsh

In [27]:
l1=[a**2 for a in range(1,11)]
print(l1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]